.root {
    /* color definitions */
    -base-color: rgb(40, 40, 45);
    -accent-color: rgb(100, 100, 105);
    -background-color: rgb(72, 72, 80);
    -text-color: white;
    -selection-color: rgb(80, 80, 85);
    /* color definitions end */

    -fx-base: -base-color;
    -fx-background: -base-color;
    -fx-control-inner-background: -base-color;
    -fx-accent: -accent-color;
    -fx-default-button: -fx-accent;
    -fx-focus-color: -accent-color;
    -fx-faint-focus-color: #6272a422;
}

.button {
    -fx-text-fill: white;
    -fx-background-color: -background-color;
    -fx-border-width: 0;
    -fx-border-radius: 15;
}

.button:hover {
    -fx-background-color: -accent-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-pref-width: 10;
}

.auto-adjusting-split-pane:horizontal > .split-pane-divider {
    -fx-pref-width: 7;
}

.dialog-pane .button-bar .button {
    -fx-background-color: -background-color;
    -fx-border-width: 0;
    -fx-text-fill: white;
}

.dialog-pane .button-bar .button:hover {
    -fx-background-color: -accent-color;
}

.label {
    -fx-text-fill: white;
}

.text-field {
    -fx-background-color: -background-color;
    -fx-text-fill: white;
    -fx-border-color: -accent-color;
}

.text-area {
    -fx-background-color: -background-color;
    -fx-text-fill: white;
}

.list-view {
    -fx-background-color: -base-color;
}

.dialog-list-cell-text {
    -fx-fill: white;
}

.dialog-list-cell-extra {
    -fx-fill: grey;
    -fx-opacity: 0.5;
}

.list-cell:filled:selected .dialog-list-cell-text,
.list-cell:filled:selected:hover .dialog-list-cell-text,
.list-cell:filled:selected .dialog-list-cell-extra,
.list-cell:filled:selected:hover .dialog-list-cell-extra {
    -fx-fill: white;
}

.list-view .list-cell:filled:selected, .table-view .table-row-cell:filled:selected {
    -fx-background-color: -selection-color;
}

.list-view:focused .list-cell:filled:selected:focused, .table-view:focused .table-row-cell:filled:selected:focused {
    -fx-background-color: -accent-color;
}

.alert > .dialog-pane {
    -fx-background-color: -base-color;
}

.alert > .dialog-pane .content.label {
    -fx-font-size: 15pt;
    -fx-font-weight: Bold;
    -fx-text-fill: white;
}

.alert > .dialog-pane .button-bar .button {
    -fx-font-size: 12pt;
    -fx-font-weight: Bold;
    -fx-text-fill: white;
    -fx-background-color: -background-color;
}

.alert > .dialog-pane .button-bar .button:hover {
    -fx-background-color: -accent-color;
}

.toast {
    -fx-background-color: -base-color;
    -fx-border-width: 1px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5px;
    -fx-font-size: 15pt;
}

.toast-icon-area {
    -fx-padding: 5px;
    -fx-min-width: 15px;
    -fx-min-height: 15px;
    -fx-alignment: center;
}