.graph {
    -fx-background-color: rgb(40, 40, 45);
}

.vertex {
    -fx-stroke-width: 3;
    -fx-stroke: rgb(100, 100, 105);
    -fx-stroke-type: inside;
    -fx-fill: rgb(72, 72, 80);
}

.vertex:hover {
    -fx-stroke-width: 4;
}

.vertex-label {
    -fx-font: bold 8pt "sans-serif";
    -fx-fill: white;
}

.edge {
    -fx-stroke-width: 2;
    -fx-stroke: rgb(80, 80, 85);
    -fx-stroke-dash-array: 2 5 2 5;
    -fx-fill: transparent;
    -fx-stroke-line-cap: round;
    -fx-opacity: 0.8;
}

.edge:hover {
    -fx-stroke-width: 3;
}

.edge-label {
    -fx-font: normal 5pt "sans-serif";
    -fx-fill: white;
}

.arrow {
    -fx-stroke-dash-array: none;
}

.myVertex {
    -fx-stroke-width: 4;
    -fx-stroke: rgb(100, 100, 105);
    -fx-stroke-type: inside;
    -fx-fill: rgb(72, 72, 80);
}

.myEdge {
    -fx-stroke-width: 2;
    -fx-stroke: rgb(80, 80, 85);
    -fx-opacity: 1;
    -fx-fill: transparent;
}